<aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>2024 Gold Hermes Creative Award Winners</h2>
              <h3>Category: Print Media | Marketing Collateral/Branding | 29. Specialty Item</h3>
              
          </div>
      </div>
  </aside>


<section class="no-padding" id="portfolio">

<div class="container">
    <div class="row no-gutter image-row"> <!-- Add custom class -->
        <div class="col-lg-6 col-sm-6 d-flex justify-content-center align-items-center">
            <div class="portfolio-box-wrapper">
                <a href="https://enter.amcpros.com/hermes/entry/marketing-tarot-deck/" class="portfolio-box">
                    <img src="img/awards/2024-Gold-Site-bug.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Print Media
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 d-flex justify-content-center align-items-center">
            <div class="portfolio-box-wrapper">
                <a href="https://enter.amcpros.com/hermes/entry/marketing-tarot-deck/" class="portfolio-box">
                    <img src="img/awards/Hermes-GOLD.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Marketing Collateral/Branding
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

</section>
