<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Change up your event game</h2>
                <hr class="light">
                <p class="text-faded">Stop selling to and start relating to your target audience. Event sponsorships are expensive, and the process is grueling for those who plan and staff them. Attendees are hungry to learn but can be mentally exhausted by the time they visit your booth. Give them an experience that shows respect for them as a person, and they’ll be more likely to view you as a trusted ally.</p>
                <a href="https://drive.google.com/file/d/1MZuBKWVQ7Y3frVJ1BLZeQ921cOtT3xri/view?usp=drive_link" class="btn btn-default btn-xl">DOWNLOAD THE MENU</a>
            </div>
        </div>
    </div>
</section>
